In [0]:
# !pip uninstall -y kaggle
# !pip install --upgrade pip
# !pip install kaggle==1.5.6
# !kaggle -v

In [0]:
!mkdir -p ~/.kaggle

In [0]:
!cp kaggle.json ~/.kaggle/

In [0]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d airplane2230/apparel-image-dataset-2

Downloading apparel-image-dataset-2.zip to /content
 94% 233M/249M [00:05<00:00, 42.1MB/s]
100% 249M/249M [00:05<00:00, 45.4MB/s]

In [0]:
! unzip -q -n /content/apparel-image-dataset-2.zip  
import pandas as pd
import numpy as np

In [0]:
train_set = pd.read_csv('/content/train.csv')
val_set=pd.read_csv('/content/val.csv')
test_set=pd.read_csv('/content/test.csv')

In [92]:
val_set=pd.concat([val_set,test_set])

train_set=train_set.replace(1.0, pd.Series(train_set.columns, train_set.columns))
train_set=train_set.replace(0.0,'')

val_set=val_set.replace(1.0, pd.Series(val_set.columns, val_set.columns))
val_set=val_set.replace(0.0,'')

val_set

      Unnamed: 0  ...  shoes
0              0  ...
1              1  ...
2              2  ...
3              3  ...
4              4  ...  shoes
...          ...  ...    ...
3411        3411  ...
3412        3412  ...
3413        3413  ...
3414        3414  ...
3415        3415  ...

[5807 rows x 13 columns]

In [93]:
train_set['labels'] = train_set.iloc[:,2:13].apply(lambda row:' '.join(row.values.astype(str)), axis=1)
train_set['labels'] = train_set['labels'].replace('\s+', ' ', regex=True)
train_set['labels'] = train_set['labels'].replace('^\s*\s*$', '', regex=True)

val_set['labels'] = val_set.iloc[:,2:13].apply(lambda row:' '.join(row.values.astype(str)), axis=1)
val_set['labels'] = val_set['labels'].replace('\s+', ' ', regex=True)
val_set['labels'] = val_set['labels'].replace('^\s*\s*$', '', regex=True)
val_set

      Unnamed: 0  ...         labels
0              0  ...   black shirt
1              1  ...    blue pants
2              2  ...     red dress
3              3  ...    blue dress
4              4  ...    white shoes
...          ...  ...            ...
3411        3411  ...   black shirt
3412        3412  ...    blue pants
3413        3413  ...    blue pants
3414        3414  ...   black pants
3415        3415  ...   green shirt

[5807 rows x 14 columns]