In [0]:
# !pip uninstall -y kaggle
# !pip install --upgrade pip
# !pip install kaggle==1.5.6
# !kaggle -v

In [0]:
!mkdir -p ~/.kaggle

In [0]:
!cp kaggle.json ~/.kaggle/

In [0]:
! chmod 600 ~/.kaggle/kaggle.json

In [0]:
!kaggle datasets list

In [0]:
!kaggle datasets download -d airplane2230/apparel-image-dataset-2

In [0]:
! unzip -q -n /content/apparel-image-dataset-2.zip

In [28]:
import pandas as pd
train_set = pd.read_csv('/content/train.csv')
train_set

      Unnamed: 0  ... shoes
0              0  ...   0.0
1              1  ...   0.0
2              2  ...   0.0
3              3  ...   0.0
4              4  ...   0.0
...          ...  ...   ...
5573        5573  ...   1.0
5574        5574  ...   1.0
5575        5575  ...   0.0
5576        5576  ...   1.0
5577        5577  ...   0.0

[5578 rows x 13 columns]